.Home{
    /* width: 1469px; */
    width: 100%;
    height: 2454.82px;
    display: flex;
    /* flex-direction: column; */
    background-color: transparent;
    gap: 20px;
    /* border: 1px solid wheat; */
    
}
/* .HomeBottom{
    width: 100%;
    height: 2454.82px;
    background-color: red;
    display: flex;
} */
.homepage{
    width: 1469px;
    height: 2454.82px;
    left: 369px;
    top: 144px;
    /* background-color: teal; */
    padding-top: 66px;
}