.channelPage{
    /* width: 1469px; */
    width: 100%;
    height: 2454.82px;
    display: flex;
    /* flex-direction: column; */
    /* background-color: white; */
    /* justify-content: space-around; */
    gap: 20px !important;
    
    /* border: 1px solid wheat; */
    
}
.channel{
    /* width: 1459px; */
    /* padding-left: 239px; */
    margin-left: 239px;
    width: 80%;
    height: 2454.82px;
    /* width: max-content; */
    /* max-width: max-content; */
    /* left: 369px; */
    /* top: 144px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-left: 239px; */
    gap: 20px !important;
    /* overflow-x: hidden; */
    right: 0px;
    /* background-color: rgb(77, 255, 0); */
    /* padding-top: 20px; */
}
.channelBanner{
    border-radius: 22px;
    width: 100%;
    height: 141px;
    /* border: 1px solid greenyellow; */
}
.channelHead{
    height: 110px;
    width: 95%;
    display: flex;
    /* border: 1px solid white; */
    margin-top: -60px;
    align-items: end;
}
.channelProfileImg{
    width: 100px;
    height: 100px;
}
.channelStats{
    /* border: 1px solid #ffffff; */
    height: 70px;
    width: 787px;
    color: #AAAAAA;
    gap: 18px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 50px;
}
span{
    color: white;
}
.channelStats p{
    margin: 0;
    padding: 0;
}

.quickActions{
    width: 192px;
    height: 100%;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
}
.quickChannelLinks{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: white; */
}
.quickChannelLinks img{
    width: 24px;
    height: 24px;
}
.channelSubscribeBtn{
    border: 0;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    color: white;
    border-radius: 23px;
    background-color: rgb(255, 255, 255, 0.08);
}
